html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

 /*general style*/

html {
    font-size:62.5%;
    font-family:Roboto Mono, monospace;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    /* border: 1px solid gray; */
    color: #4F4F4F;
}

a {
    text-decoration:none;
}




/*header*/
header {
}

nav {
    padding:5%;
    text-align:center; 
}
nav a {
    font-size: 2rem;
    padding: 2%;
    border-radius:20px;
    margin: 0% 5%;
    color: white; 
     
} 

nav .orange {
    background-color:#FF764E;
}

nav .blue {
    background-color:#5ED3EB
}

nav .yellow {
    background-color:#FFCD69
}
/*section1*/

.image {
    display: inline-block;
    width: 25%;
    
}

.elCap {
     width: 100%;
     border-radius: 50%;
     margin: 10% 10% 0% 20%;
     
}

.main {
    display: inline-block;
    margin: 5% 10% 
}


h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 4rem;
    display: inline-block;
}

/*section2*/
.text {
    background-color: #DDB9A3;
    font-size: 2rem;
    margin: 0% 5%;
   
}

.text p {
    color: white;
    padding: 2%;
    text-align: center;
}


/*section3*/
.box {

}

/*section4*/

/*footer*/
footer {
    background-color: #F9E7DC
}